 body{

    
    background-color: Silver;
 }
 
 .imgCarousel {
    
width: 70vw;
text-align: center;


}


ul {

list-style: none;

text-align: center;
}


.displayNone {

display :none;

}
h1 {
text-align: center;

}